<div id="contact">
    <div class="card">
        <div class="card-header info-card-header">
            Kontakt
        </div>
        <div class="card-body">
            Falls Sie Fragen haben oder die Ferienwohnung buchen möchten,
            senden Sie uns gerne eine Nachricht über <a class="info-link"
                                                        href="https://www.schwarzwald-kinzigtal.info/kinzigtal/ukv/contact/FIT00020071705009108"
                                                        target="_blank">das
            Kontaktformular</a>, schreiben Sie uns <a class="info-link" href="mailto: ferienhaus@sepplishof.de">eine Mail an ferienhaus@sepplishof.de</a>
            oder rufen Sie uns an unter 07836 25 89.
        </div>
    </div>
</div>