<div id="infos">
    <div class="card">
        <div class="card-header info-card-header">
            Das Ferienhaus
        </div>
        <div class="card-body">
            <h4 class="intro-title">Ausstattung</h4>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>TODO m<sup>2</sup> Wohnfläche für bis zu 6 Personen</li>
                        <li>2 Schlafzimmer (1 Doppelbett, 2 Einzelbetten)</li>
                        <li>Wohn-/Esszimmer mit Schlafsofa</li>
                        <li>Voll ausgestattete, moderne Kühe mit Cerankochfeld, Backofen, Filterkaffeemaschine, Toaster,
                            Wasserkocher und Wassersprudler
                        </li>
                        <li>Tageslichtbad mit Dusche und Badewanne</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Moderner Fernseher mit SAT TV</li>
                        <li>WLAN in allen Räumen</li>
                        <li>Parkplatz direkt am Haus</li>
                        <li>Bettwäsche, Handtücher und Geschirrtücher sind vorhanden</li>
                        <li>Haustiere sind <b>nicht</b> erlaubt <i class="fas "></i></li>
                        <li>Nichtraucherunterkunft <i class="fas fa-<br>-ban"></i></li>
                    </ul>
                </div>
            </div>

            <hr>
            <!--  Preisliste    -->
            <h4 class="intro-title">Preise</h4>
            Unsere Ferienwohnung kostet 70 € pro Nacht für bis zu 4 Personen.
            Hinzu kommt die Kurtaxe in Höhe von 1,50 € pro Person pro Nacht für alle Personen ab 16 Jahren.
            <hr>
            <!--  Konus Gästekarte          -->
            <h4 class="intro-title">Gästekarte</h4>
            Alle unsere Gäste erhalten die KONUS-Gästekarte für die Ferienregion Kinzigtal.
            Bei zahlreichen Schwarzwald-Attraktionen gibt es damit freien Eintritt oder Vergünstigungen, außerdem fahren
            Sie mit der Gästekarte kostenlos mit Bus und Bahn.
            Mehr Infos zur Gästekarte finden Sie <a class="card-link"
                                                    href="https://www.schwarzwald-kinzigtal.info/service/konus" target="_blank">hier</a>.
            <hr>
            <!--   Buchung  -->
            <h4 class="intro-title">Buchung</h4>
            Zur Buchung der Ferienwohnung senden Sie uns gerne eine Nachricht über <a class="card-link"
                                                                                      href="https://www.schwarzwald-kinzigtal.info/kinzigtal/ukv/contact/FIT00020071705009108"
                                                                                      target="_blank">das
            Kontaktformular</a>, schreiben Sie uns <a class="card-link" href="mailto: info@sepplishof.de">eine Mail</a>
            oder rufen Sie uns an unter 07836 25 89.
            In unserem Buchungskalender sehen Sie die aktuelle Verfügbarkeit der Ferienwohnung.
            <iframe height="500"
                    src="https://tportal.tomas.travel/kinzigtal/ukv/calendar/FIT00020071705009108"
                    title="Buchungskalender"
                    width="100%"></iframe>

            <br>
            Zu Ihrer Sicherheit empfehlen wir Ihnen eine Reiserücktrittsversicherung abzuschließen.
            Wir empfehlen die Reiseversicherung des Touristenverbandes, weitere Informationen dazu finden Sie <a
                class="card-link" href="https://www.schwarzwald-kinzigtal.info/service/reiseversicherung"
                target="_blank">hier</a>.
        </div>
    </div>
</div>