<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center intro-title">Hallo liebe Feriengäste!</h4>
        <div class="card-text intro-text">
            <p>
                Genießen Sie die Ruhe des Schwarzwaldes in unserem historischem Leibgedinghaus.
                <br>
                Umgeben von Wiesen und Wäldern liegt der Sepplishof in einem ruhigen Seitental von Schenkenzell.
                <br>
                Wandern Sie in der schönen Natur oder genießen Sie die Ruhe in und um die Ferienwohnung.
            </p>
        </div>
    </div>
</div>