<div  id="location">
<div class="card">
    <div class="card-header info-card-header">
            Anreise
    </div>
    <div class="card-body">
        <p>
            Unser Sepplishof ist wunderschön in einem kleinen Seitental des Kinzigtals gelegen.
        </p>
        <p>
            Bitte beachten Sie, dass der Sepplishof mit öffentlichen Verkehrsmitteln nur sehr schwer bis gar nicht
            zu erreichen ist. Wir empfehlen daher die Anreise mit einem Auto.
        </p>
        <p>
            Vor Ort gibt es übrigens nur sporadisch Handy-Empfang, es gibt aber selbstverständlich WLAN in der Ferienwohnung.
        </p>
        <br>
        <div>
                    {{ location_map.html }}
        </div>
        <br>
        <div>
            Adresse: <a class="info-link" href="https://maps.app.goo.gl/9kbmGu7q7tkgTg36A" target="_blank">Sepplishof 77, 77773 Schenkenzell</a>
        </div>
    </div>
</div>
</div>