<div  id="location">
<div class="card">
    <div class="card-header info-card-header">
            Anreise
    </div>
    <div class="card-body">
        <p>
            Unser Sepplishof ist wunderschön in einem kleinen Seitental des Kinzigtals gelegen.
        </p>
        <p>
            Der Sepplishof ist nur mit dem Auto zu erreichen. In Schenkenzell gibt es einen Bahnhof, falls
            Sie keine Möglichkeit haben mit einem Auto anzureisen können wir Sie gerne dort abholen.
            Geben Sie uns dazu bitte rechtzeitig vor Anreise bescheid.
        </p>
        <p>
            Vor Ort gibt es übrigens nur sporadisch Handy-Empfang, es gibt aber selbstverständlich WLAN in der Ferienwohnung.
        </p>
        <br>
        <div>
                    {{ location_map.html }}
        </div>
        <br>
        <div>
            Adresse: <a class="card-link" href="https://maps.app.goo.gl/9kbmGu7q7tkgTg36A" target="_blank">Sepplishof 77, 77773 Schenkenzell</a>
        </div>
    </div>
</div>
</div>